loguru
argparse
numpy
scikit-learn
scikit-image
torch
torchmetrics
torchvision
transformers
tensorboard
IPython
ipywidgets
ipykernel
taming-transformers
lightning
matplotlib
seaborn
datetime-glob
clearml